.akcija-container {
    background-color: orange;
    width: 200px; 
    height: 250px; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
  }
  
  .akcija-info {
    text-align: center;
  }
  
  .akcija-container h2 {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    align-self: center;
  }
  
  .akcija-info p {
    font-size: 14px;
  }
  