.udruga-container {
  background-color: rgb(9, 88, 24);
  width: 180px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
}

.user-info h2 {
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap; 
}


.udruge-info {
  text-align: center;
}

