.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #48bb78;
  background: -webkit-linear-gradient(to right, #2c7a39, #48bb78);
  background: linear-gradient(to right, #2c7a39, #48bb78);
  
  padding: 30px;
  width: 450px;
  border-radius: 20px;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #000000;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.3s ease-in-out;
}

.input {
  background-color: transparent;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}
.input:focus {
  outline: none; 
  border-color: #000000;
  transition: none; 
}
::placeholder{
  color: #000000;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}


.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.span,.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

    