.home-container {
    background: linear-gradient(to bottom, #4CAF50, #2E8B57);
    color: #fff;
   
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }

  .novosti{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: large;
    padding-left: 60px;
    padding-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  
  .news-item {
    background-color: orange;
    color: #fff;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
  }
  
  .news-item h2 {
    margin-top: 0;
  }
  
 

.volonteri-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.udruge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
 
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  transition: all ease-in-out .5s;
 
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}


.akcije-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.opsirnije-button, .sortiraj-button {
  background-color: orange;
  --color: #2c7a39;
  font-family: inherit;
  display: inline-block;
  width: 60px;
  height: auto;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  transition: color .3s;
  z-index: 1;
  font-size: 16px;
  margin: 2px;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
 }
 
 .opsirnije-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .opsirnije-button:hover {
  color: #fff;
 }
 
 .opsirnije-button:before {
  top: 100%;
  left: 100%;
  transition: all .3s;
 }
 
 .opsirnije-button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .opsirnije-button:active:before {
  background: #54c05b;
  transition: background 0s;
 }

/*------------------------------*/



.sortiraj-button {
  background-color: orange;
  --color: #2c7a39;
  transition: color .3s;
  z-index: 1;
  margin: 2px;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  width: fit-content;
  border: solid black 2px;
 }
 
 .sortiraj-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  border-radius: 50%;
  white-space: nowrap;
 }
 
 .sortiraj-button:hover {
  color: #fff;
 }
 
 
 

 /*------------------*/
 
 .add-volonter-form, .add-akcija-form {
  background: linear-gradient(to bottom, orange, #8b682c);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: fit-content;
}

.add-volonter-form h2 {
  margin-bottom: 10px;
}

.add-volonter-form input[type="text"],
.add-volonter-form input[type="email"],
.add-volonter-form input[type="radio"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.add-volonter-form label {
  display: inline-block;
  margin-right: 10px;
}

.add-volonter-form button {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-volonter-form button:hover {
  background-color: orange;
  color: white;
}







.opcije{
  background: orange;
  width: 200px;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  width: fit-content;
  height: fit-content;
  gap: 15px;
}




select {
  background-color: orange;
  --color: #2c7a39;
  transition: color .3s;
  z-index: 1;
  margin: 2px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  white-space: nowrap;
  width: fit-content;
  height: 28px;
  border: solid black 2px;
}


option {
  padding: 5px;
  font-size: 14px;
}

select::hover{
  color: #fff;
}


select:focus {
  box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}



*{
  box-sizing: border-box;
}
body{
  margin: 0;
}