



   /*--------------------modal----------------*/
  
  .modal, .popup-content {
    font-size: 12px;
    background-color: orange;
    margin: 0%;
    border-radius: 5px;
    border: 0cm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
  }
  .modal > .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #25ba3e;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

 /*--------------------modal kraj----------------*/

  .container > * {
    margin-bottom: 10px;
  }
