.footer {
  background-color: var(--body-color);
  color: var(--text-color);
  padding: 20px 0;
  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.site-title {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 10px;
}

.footer-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-left: 10px;
}

.footer-nav li a {
  color: var(--text-color);
  text-decoration: none;
}

